<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/identification-page.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Herbify-Identification</title>
  </head>
  <body>
    <script>
      document
        .querySelector('a[href="register-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "register-page.html";
        });

      document
        .querySelector('a[href="login-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "login-page.html";
        });

      document
        .querySelector('a[href="identification-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "identification-page.html";
        });
    </script>
     <nav class="navbar">
      <ul>
      <div class="container">

          <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">

                  <li><a href="{{ url_for('main.index') }}" class="navbar-item" title="main">🏠</a></li>

                  <li><a href="{{ url_for('main.discover')}}" title="Discover" class="navbar-item">🌐</a></li>

                  <li class="active"><a href="{{ url_for('views.classification')}}" class="navbar-item" title="Classification">🔍</a></li>

                  {% if current_user.is_authenticated %}
                  <li>
                    <a href="{{ url_for('main.profile') }}" title="Profile">👤</a></li>
                  {% endif %}

                  <li><a href= "{{ url_for('auth.view_groups') }}" title="Groups" class="navbar-item">👥</a></li>
                  <li><a href="#" title="Rank" class="navbar-item">🏆</a></li>

                  {% if not current_user.is_authenticated %}
                  <li><a href="{{ url_for('auth.login') }}" class="navbar-item" title="login">🔒</a></li>

                  <li><a href="{{ url_for('auth.signup') }}" class="navbar-item" title="signup" >🔓</a></li>


                  {% endif %}
                  {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('auth.logout') }}" class="navbar-item" title="logout">🚪</a></li>
                  {% endif %}


              </div>
          </div>
      </div>
      <ul>
  </nav>
    <div class="identification-page-container">
      <h1 class="identification-page-heading">Plant Identification</h1>
      <div class="upload-photo-container">
        <p class="upload-photo-text">
          HERBIFY is a tool to identify the plants you photograph. Upload your
          photos and it will tell you which genre it belongs to. Sign up to
          enjoy more!
        </p>
        <form
          class="upload-photo-form"
          action="/predict"
          method="POST"
          enctype="multipart/form-data"
        >
          <input
            type="file"
            name="image"
            id="photo"
            accept="image/*"
            required
          />
          <button type="submit" class="upload-photo-button">
            Upload a Photo
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
