<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/login-page.css') }}"
    />
    <script>
      function redirectToRegisterPage() {
        window.location.href = "../templates/register-page.html";
      }

      document
        .querySelector('a[href="register-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "register-page.html";
        });

      document
        .querySelector('a[href="identification-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "identification-page.html";
        });

      document
        .querySelector('a[href="profile-page.html"]')
        .addEventListener("click", function (event) {
          event.preventDefault();
          window.location.href = "profile-page.html";
        });
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Herbify-Login</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
      <div class="container">

          <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">

                  <li><a href="{{ url_for('main.index') }}" class="navbar-item" title="main">🏠</a></li>

                  <!-- <li><a href="{{ url_for('main.discover')}}" title="Discover" class="navbar-item">🌐</a></li> -->

                  <li><a href="{{ url_for('views.classification')}}" class="navbar-item" title="Classification">🔍</a></li>

                  {% if current_user.is_authenticated %}
                  <li>
                    <a href="{{ url_for('main.profile') }}" title="Profile">👤</a></li>
                  {% endif %}

                  <li><a href= "{{ url_for('auth.view_groups') }}" title="Groups" class="navbar-item">👥</a></li>
                  <li><a href="{{ url_for('auth.achievements') }}" title="Rank" class="navbar-item">🏆</a></li>

                  {% if not current_user.is_authenticated %}
                  <li class="active"><a href="{{ url_for('auth.login') }}" class="navbar-item" title="login">🔒</a></li>

                  <li><a href="{{ url_for('auth.signup') }}" class="navbar-item" title="signup">🔓</a></li>


                  {% endif %}
                  {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('auth.logout') }}" class="navbar-item" title="logout">🚪</a></li>
                  {% endif %}


              </div>
          </div>
      </div>
      <ul>
  </nav>
    <div class="login-page-container">
      <h1 class="login-page-heading">Login</h1>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="notification is-danger">{{ messages[0] }}</div>
      {% endif %} {% endwith %}
      <form
        class="login-page-form"
        name="login_form"
        method="POST"
        action="/login"
      >
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <div class="button-group">
          <button type="submit" class="login-page-button login-button">
            Login
          </button>
        </div>

        <div class="additional-buttons">
          <button type="button" class="login-page-button">
            Forgot Password
          </button>
          <a href="{{ url_for('auth.register') }}">
            <button type="button" class="login-page-button">
              Create Account
            </button>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
