{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <div style="background-color: #f1f1f1; padding: 20px; border-radius: 5px; text-align: center; margin: 0 auto; max-width: 600px;">
                <h1 class="title" style="color: black;">Scoreboard</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>User</th>
                            <th class="identification-count">Identification Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.name }}</td>
                                <td class="identification-count">{{ user.identification_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
