<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='/Smart_Care.css') }}"
/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Smart Care</title>
</head>
<body>
  
  <nav class="navbar">
    <ul>
    <div class="container">

        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">

                <li><a href="{{ url_for('main.index') }}" class="navbar-item" title="main">🏠</a></li>

                <li><a href="{{ url_for('main.discover')}}" title="Discover" class="navbar-item">🌐</a></li>

                <li><a href="{{ url_for('views.classification')}}" class="navbar-item" title="Classification">🔍</a></li>

                {% if current_user.is_authenticated %}
                <li>
                  <a href="{{ url_for('main.profile') }}" title="Profile">👤</a></li>
                {% endif %}

                <li><a href= "{{ url_for('auth.view_groups') }}" title="Groups" class="navbar-item">👥</a></li>
                <li><a href="{{ url_for('auth.achievements') }}" title="Rank" class="navbar-item">🏆</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.login') }}" class="navbar-item" title="login">🔒</a></li>

                <li><a href="{{ url_for('auth.signup') }}" class="navbar-item">🔓</a></li>


                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}" class="navbar-item" title="logout">🚪</a></li>
                {% endif %}


            </div>
        </div>
    </div>
    <ul>
</nav>
{% block content %}
  <div class="register-page-container">
    <h1 class="register-page-heading">Add Care Plan for {{ plant.name }}</h1>
    <form class="register-page-form" name="smart_care_form" method="POST" action="">
      <label for="email">Give a Plant Name:</label>
      <input type="text" id="email" name="email" required>

      <label for="light-type">What kind of light does your plant get daily?</label>
      <select id="light-type" name="light-type" required>
        <option value="" disabled selected>Select type</option>
        <option value="Direct sunlight">Low light</option>
        <option value="Indirect sunlight">Medium light</option>
        <option value="Artificial light">Bright indirect light</option>
        <option value="No light">Bright direct light</option>
      </select>
      
      <label for="water-time">When did you last water your plant?</label>
      <select id="water-time" name="water-time" required>
        <option value="" disabled selected>Select watering time</option>
        <option value="Today">Today</option>
        <option value="Yesterday">Yesterday</option>
        <option value="A week ago">A week ago</option>
        <option value="Over a month ago">Over a month ago</option>
      </select>

      <label for="password">Pick the height of the pot (in cm)</label>
      <input type="text" id="pot-height" name="pot-height" required>

      <label for="pot-diameter">Pick the bottom diameter of the pot (in cm)</label>
      <input type="text" id="pot-diameter" name="pot-diameter" required>

      <button type="submit" class="register-page-button">Add Care plan</button>
    </form>
    {% endblock %}
  </div>
</body>
</html>

